body {
	/*text-align: center;
	background-image: url('./src/backgroundimg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	color: #FFFFFF;
	background-color: #000000;
	font-family: 'Rubik', sans-serif;
}

.teachers {
	text-align: center;
	align-content:center;
	color: #FFFFFF;
	/*background-image: url('./src/backgroundimg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	margin: auto;
}

.teacher {
	color: #000000;
	background-color: #FFFFFF;
	width:90%;
	text-align: left;
	border-radius: 20px;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

.name {
	font-size: xx-large;
	font-weight: bold;
}

.header {
	color: #FFFFFF;
}

.credits {
	color: #FFFFFF;
	text-align: center;
}

.zitat {
	font-style: italic;
}

.cBanner {
	font-size: x-large;
	text-align: center;
	width: 100%;
}

.tBanner {
	width: fit-content;
	padding: 10px;
	width: 25%;
	margin: auto;
	display: inline-block;
    *display: inline;
    zoom: 1;
	color: #FFFFFF;
	background-color: rgb(87, 87, 87);
	border-radius: 20px;
}

.disclaimer {
	border: 5px solid #ff0000 ;
	margin-left: 0px;
	padding: 10px;
	padding-top: 0px;
	width: fit-content; 
	margin: auto;
	margin-top: 20px;
}

#banner a:link { color: #FFFFFF; }
#banner a:visited { color: #FFFFFF; }
#banner a:hover { color: #70DB93; }
#banner a:active { color: #70DB93; }