body {
	/*text-align: center;
	background-image: url('./src/backgroundimg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	color: #FFFFFF;
	background-color: #000000;
}

.students {
	text-align: center;
	align-content:center;
	color: #000000;
	/*background-image: url('./src/backgroundimg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	margin: auto;
}

.student {
	color: #000000;
	background-color: #FFFFFF;
	width:90%;
	text-align: left;
	border-radius: 20px;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

.name {
	font-size: xx-large;
}

.header {
	color: #FFFFFF;
}

.credits {
	color: #FFFFFF;
	text-align: center;
}

.zitat {
	font-style: italic;
}
