body {
	text-align: center;
	background-image: url('./src/backgroundimg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.students {
}

.student {
	width:90%;
	border-radius: 20px;
	text-align: left;
	font-size: x-large;
	background-color: #FFFFFF;
}

.name {
	font-size: xx-large;
}
